* {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* TODO: Label selector type */
body {
background-color: lemonchiffon;
}

header,
footer {
width: 100%;
height: 100px;
line-height: 100px;
color: #f0ead6;
background-color: #191970;
}

figure {
width: 200px;
background-color: #f0ead6;
}

/* TODO: Label selector type */
.highlighted-text {
font-weight: bolder;
}

/* TODO: Label selector type */
#contact-section {
background-color: #000000;
}

img {
    height: 200px;
    width: 200px;
}

.lesson {
    background-color: lemonchiffon;
  }
  
  .title {
    color: #eaee0e;
  }
  
  #email {
    background-color: goldenrod;
  }
  
  #github {
    background-color: lightsteelblue;
  }
  
  #portfolio {
    background-color: darkorange;
    
  }
  